.about-us {
  display: flex;
  align-items: center;
  min-height: 800px;
  position: relative;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__bg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    max-width: 50%;
    margin-right: 75px;

    h2,
    p {
      color: white;
    }

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
    }
  }
}