.blog {
  min-height: 800px;
  background: url(../img/blog_bg.png) center center no-repeat;
  background-size: cover;

  .flex {
    &-wrap {
      padding: 65px 0;
      margin: 0 -11px;

      @media (max-width: 1024px) {
        flex-flow: column;
        }
      }
    

    &-col {
      width: 50%;
      margin: 0 11px;

      @media (max-width: 1024px) {
          width: 100%;
          margin-bottom: 20px;
      }
    }
  }

  .news-header,
  .featured-cont {
    height: 166px;
    padding: 0 50px 0 40px;
  }

  .news-header {
    color: white;

    @media (max-width: 1024px) {
      text-align: center;
    }

    h2 {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  .featured {

    &-img {

      img {
        width: 100%;
      }
    }

    &-cont {
      color: $light-black;
      background: $light-blue;
    }

    &-text {
      padding: 25px 0 0 0;

      &-header {
        display: flex;
        margin-bottom: 15px;

        .date {
          width: 25%;
          padding-top: 6px;
        }

        h3 {
          width: 75%;
          padding-right: 10px;
          font-size: 30px;
        }
      }

      p {
        font-size: 20px;
        line-height: 1.3;

        @media (max-width: 1024px) {
            font-size: 25px;
        }
      }
    }
  }

  .news {
    &__plate {
      color: $light-black;
      min-height: 167px;

      background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
      }

      width: 100%;
      transition: background-color .3s ease-in;

      
      &:hover {
        background: $light-blue;
      }

      &__1 {
        background-image: url(../img/news_active.png);
      }

      &__2 {
        background-image: url(../img/news_1.png);
      }

      &__3 {
        background-image: url(../img/news_2.png);
      }

      &__4 {
        background-image: url(../img/news_3.png);
      }

      img {
        z-index: 0;
      }
    }

    &__text {
      line-height: 0.9;
      padding: 30px 0 0 40px;
      z-index: 1;

      @media (max-width: 1024px) {
          padding-top: 25px;
      }
      

      h3 {
        font-size: 30px;
        padding-bottom: 20px;
      }

      span {
        display: block;
        font-size: 15px;
        padding-bottom: 20px;
      }

      p {
        width: 50%;
        font-size: 15px;
        line-height: 1.3;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
      }
    }
  }
}