.blog {
  min-height: 800px;
  background: url(../img/blog_bg.png) center center no-repeat;

  .container {
    max-height: 800px;
  }

  .flex {
    &-wrap {
      padding: 65px 0;
    }

    &-col {
      max-width: 581px;
      margin: 0 11px;
    }
  }

  .news-header,
  .featured-cont {
    height: 166px;
    padding: 0 50px 0 81px;
  }

  .news-header {
    h2 {
      font-size: 36px;
      margin-top: 0;
    }

    p {
      font-size: 20px;      
    }
  }

  .featured {
    &-cont, 
    &-img {
      margin: 0 0 -2px 0;
    }

    &-cont {
      color: $light-black;

      h3, span {
        display: inline-block;
      }

      span {
        padding-left: 25%;
      }
    }
  }
  
  .news {
    &-plate {
      position: relative;
      color: $light-black;
      max-height: 166px;

      img {
        z-index: 0;
      }
    }

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 0.9;
      padding: 20px 0 0 40px;
      z-index: 1;
    }
  }
}