.contact-us {
  min-height: 800px;
  background: url(../img/contact_bg.png) center center no-repeat;


  .section__header {
    color: white;
  }

  .flex-wrap {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 101px;

    .flex-col {
      width: 50%;
      padding: 0 22px;
    }
  }

  .form {
    width: 100%;

    input[type=text] {
      width: 100%;
      height: 40px;
      background: transparent;
      border: 1px solid $light-gray;
      padding: 0 0 0 20px;
    }

    input[type=checkbox] {
      margin-right: 10px;
    }

    select {
      width: 100%;
      height: 40px;
      background: transparent;
      border: 1px solid $light-gray;
      padding: 0 0 0 15px;
    }

    textarea {
      width: 100%;
      min-height: 235px;
      background: transparent;
      padding: 10px 0 0 20px;
      resize: none;
    }

    button {
      width: 156px;
      height: 40px;
      border: none;
      color: white;

      &:hover {
        color: $light-black;
        background: white;
      }
    }

    
    .subscribe-tick {
      color: white;
    }

    .send-button {
      display: flex;
      justify-content: flex-end;
    }

    p {
      width: 100%;
      padding: 0 0 15px 0;
    }

    &-submit {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      & p {
        padding: 0;
      }
    }
  }
}