.contact-us {
    min-height: 700px;
    background: url(../img/contact_bg.png) center center no-repeat;
    background-size: cover;

    @media (max-width: 320px) {
        background-position: center top;
    }


    .section__header {
        color: white;
    }

    .flex-wrap {
        justify-content: space-between;
        align-items: stretch;
        padding: 0 101px;

        @media (max-width: 1024px) {
            flex-flow: column;
            align-items: center;
        }

        @media (max-width: 640px) {
            padding: 0 60px;
        }

        @media (max-width: 320px) {
            padding: 0;
        }

        .flex-col {
            width: 50%;
            margin: 0 22px;

            @media (max-width: 1024px) {
                width: 100%;
                padding-bottom: 50px;
            }

            @media (max-width: 640px) {
                padding-bottom: 25px;
            }
        }
    }

    .map {
        height: 100%;
        padding-bottom: 55px;

        @media (max-width: 320px) {
            padding-bottom: 0;
        }

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }

        @media (max-width: 1024px) {
            margin: 0 auto;
            width: 100%;
            height: 400px;
            padding: 0;
        }
    }

    .form {
        width: 100%;

        @media (max-width: 1024px) {
            width: 100%;
            margin: 0 auto;
        }

        input[type=text] {
            width: 100%;
            height: 40px;
            background: transparent;
            border: 1px solid $light-gray;
            padding: 0 0 0 20px;
        }

        input[type=checkbox] {
            margin-right: 10px;
        }

        select {
            width: 100%;
            height: 40px;
            background: transparent;
            border: 1px solid $light-gray;
            padding: 0 0 0 15px;
        }

        textarea {
            width: 100%;
            min-height: 235px;
            background: transparent;
            padding: 10px 0 0 20px;
            resize: none;
            color: $light-gray;
        }

        button {
            width: 156px;
            height: 40px;
            border: none;
            color: white;
            background-color: $dark-blue;
            transition: background-color .3s ease-in;

            &:hover {
                color: $light-black;
                background: white;
            }
        }


        .subscribe-tick {
            color: white;
        }

        .send-button {
            display: flex;
            justify-content: flex-end;
        }

        p {
            width: 100%;
            padding: 0 0 15px 0;
        }

        &-submit {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            & p {
                padding: 0;
            }
        }
    }
}