.contact-us {
  min-height: 800px;
  background: url(../img/contact_bg.png) center center no-repeat;


  .section__header {
    color: white;
  }

  .flex-wrap {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 101px;
  }

  .form {
    width: 440px;
    max-height: 404px;

    input[type=text] {
      width: 100%;
      height: 40px;
      background: transparent;
      border: 1px solid #989594;
      padding: 0 0 0 20px;

      &:focus {
        border: 2px solid red;
      }
    }

    select {
      width: 100%;
      height: 40px;
      background: transparent;
      border: 1px solid #989594;
      padding: 0 0 0 15px;
    }

    textarea {
      width: 100%;
      height: 190px;
      background: transparent;
      padding: 10px 0 0 20px;
      resize: none;
    }

    button {
      width: 156px;
      height: 40px;
      border: none;
      color: white;

      &:hover {
        color: #333;
        background: white;
      }
    }

    p {
      padding: 0 0 15px 0;

      &:first-child,
      &:nth-child(4) {
        margin: 0 0 15px 0;
      }
    }

    &-submit {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      & p {
        padding: 0;
      }
    }
  }
}