.footer {
    background: $dark-black;


    .flex-wrap {
        padding-top: 30px;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-flow: wrap;
        }

        &>div,
        &>nav {
            @media (max-width: 1024px) {
                padding-bottom: 20px;
            }
        }

        nav {
            @media (max-width: 1024px) {
                text-align: center;
            }

            @media (max-width: 640px) {
                
                ul {
                    display: flex;
                    flex-direction: row;
    
                        li {
                            padding-right: 20px;
                        } 
                }
            }

            @media (max-width: 320px) {

                ul {
                    flex-wrap: wrap;
                    justify-content: center;

                    li:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 320px) {

        &-logo {
            margin: 0 auto;
        }
    }

    &-menu {
        line-height: 1.8;

        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .social {
        display: flex;
        justify-content: space-evenly;
        width: 19%;

        @media (max-width: 640px) {
            width: 100%;
        }

        li {
            @media (max-width: 1024px) {
                padding-right: 5px;
            }

            .fab {
                font-size: 35px;
                color: white;
                transition: color .3s ease-in;

                &:hover {
                    color: $light-blue;
                }
            }
        }
    }

    .copyright {
        text-align: right;
        line-height: 2.3;
        color: white;

        @media (max-width: 1024px) {
            text-align: center;
            width: 100%;
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}