.footer {
  height: 200px;
  background: #263238;

  .flex-wrap {
    padding-top: 30px;
    justify-content: space-between;
  }

  &-menu {
    ul {
      li {
        list-style: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
  }

  .copyright {
    text-align: right;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}