.header {
    padding: 11px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media (max-width: 320px) {
            padding: 0 10px;
        }
    }

    .logo {
        width: 136px;
    }

    &-menu {
        ul {
            display: flex;
            margin: 0;
            padding: 0;

            @media (max-width: 320px) {
                flex-flow: column;
                text-align: right;
            }

            li {
                display: block;
                list-style: none;
                margin-right: 30px;

                @media (max-width: 640px) {
                    margin-right: 20px;
                }

                @media (max-width: 320px) {
                    margin: 0 0 5px 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}