.hero {
    display: flex;
    align-items: center;
    min-height: 800px;
    background: url(../img/first_bg.png) center center no-repeat;

    .container {
        display: flex;
        justify-content: center;
    }

    h1 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 90px;

        text: {
            transform: uppercase;
            align: center;
        }
    }
}