body {
  position: relative;
}

.bold {
  font-weight: bold;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.flex {

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-col {
    display: flex;
    flex-direction: column;

    img {
      height: 100%;
    }
  }
}

.section {

  &__header {
    text-align: center;
    padding: 40px 0 30px 0;

    h2 {
      font-size: 36px;
      margin-top: 0;
    }

    p {
      font-size: 20px;
    }
  }
}

input::placeholder,
textarea::placeholder,
select {
  color: white;
}

.white-text {
  color: white;
}

.light-bg {
  background: $light-blue;
}

.dark-bg {
  background: $dark-blue;
}